#####################################
# IDE configurations
#####################################
# PhpStorm
.idea
atlassian-ide-plugin.xml

# Sublime
.*\.sublime-project
.*\.sublime-workspace

#####################################
# Vendor
#####################################
vendor
composer.phar
composer.lock
phpunit.xml

#####################################
# BeatsMX
#####################################

/Resources/engine/bin/*
/Resources/engine/lib/*
/Resources/views/beatsmx/*
/Resources/public/js/beatsmx/*
/Resources/public/css/beatsmx/*
/Resources/public/img/beatsmx/*