#####################################
# IDE configurations
#####################################
# PhpStorm
.idea
atlassian-ide-plugin.xml

# Sublime
.*\.sublime-project
.*\.sublime-workspace

#####################################
# Vendor
#####################################
vendor
composer.phar
composer.lock
phpunit.xml
